<header>
  <h1 class="title">
    <i class="material-icons">book</i>
    Bookmarks
  </h1>
  <h2 class="subtitle">Add. Edit. List.</h2>
</header>

<section class="form">
  <form data-bind="submit: save">
    <div class="row">
      <div class="four columns">
        <label for="title">Title</label>
        <input class="u-full-width" type="text" data-bind="textInput: title, hasFocus: shouldBeFocused" placeholder="Awesome Website" id="title" autofocus="true">
      </div>

      <div class="four columns">
        <label for="url">URL</label>
        <input class="u-full-width" type="text" data-bind="textInput: url" placeholder="http://www.aweso.me" id="url">
      </div>

      <div class="three columns">
        <label for="shortening">Shortening</label>
        <input class="u-full-width" type="text" data-bind="textInput: shortening" placeholder="https://goo.gl" id="shortening">
      </div>

      <div class="one column">
        <button type="submit" class="button-primary submit">Add</button>
      </div>
    </div>
  </form>
</section>

<section class="list">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Shortening</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- ko foreach: bookmarksList -->
        <tr>
          <td data-bind="text: title"></td>
          <td data-bind="text: url"></td>
          <td data-bind="text: shortening && shortening.length > 0 ? shortening : 'None'"></td>
          <td><button data-bind="click: $parent.edit" type="button">Edit</button></td>
        </tr>
      <!-- /ko -->
    </tbody>
  </table>
</section>
